@use '../abstracts' as *;
@use '../utilities/animations';

.tasks-view {
  flex: 1;
  padding: 2rem;
  min-width: 320px;
  overflow-y: scroll;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon--more {
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;

    path {
      fill: $dark-gray;
    }
  }

  &__title {
    color: $black;
    font-size: 4rem;
    font-weight: 900;
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;

    &__title {
      color: $gray-text;
      font-size: 1.5rem;
      font-weight: 400;
    }

    &__icon {
      width: 1.75rem;
      height: 1.75rem;

      path {
        fill: $main-color;
      }
    }

    @include active {
      .tasks-view__btn__icon {
        @include animations.animation(bounce-up-down, 1, ease, true);
      }
    }
  }
}
