// Colors
$background-color: #fff;
$main-color: #1971c2;
$stroke-color: #ced4da;
$light-gray: #f1f3f5;
$dark-gray: #495057;
$black: #212529;
$gray-text: #868e96;

// Fonts
$font-stack: ('Roboto', sans-serif);
